#.gitignore for Android project

#for MacOSX 
.DS_Store

#for build.py
build.version
 
#for Android SDK
.keystore
.metadata
bin/
gen/
build.xml
build.properties
local.properties

#for Android SDK 4.0
ant.properties

#for Android NDK
obj/
*.so

#for Gradle
gradle.properties
.gradle/
build/

#for IntelliJ IDEA
!.idea/runConfigurations/*
.idea/*.xml
.idea/.name
.idea/copyright/
.idea/libraries/
.idea/scopes/
.idea/inspectionProfiles/
*.iml

#keystore
example.keystore
